﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="login_page.aspx.cs" Inherits="WebSiteBot.login_page" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="loginasset/css/style.css" rel='stylesheet' type='text/css' />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'/>
    <!--/webfonts-->
</head>
<body>
    <form id="form1" runat="server">
        <!--start-main-->
   <h1></h1>
        <div class="login-box">
            <div class="camera"></div>
            <h2>Bot Sistemi Giriş</h2>
            <asp:TextBox ID="TextBox1" class="text" value="Kullanıcı Adı" runat="server" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Kullanıcı Adı';}"></asp:TextBox>
            <asp:TextBox ID="TextBox2" runat="server" value="Şifreniz" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Şifreniz';}"></asp:TextBox>

            <%--<input type="text" class="text" value="Kullanıcı Adı" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Kullanıcı Adı';}"/>
		<input type="password" value="Şifreniz" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Şifreniz';}"/>
            <input type="submit" onclick="myFunction()" value="Continue"/>--%>
            <div class="btn">
                <asp:Button ID="Button1" runat="server" Text="Giriş" />
            </div>

        </div>

        <!--//End-login-form-->
    </form>
    <div style="height: 30px;">
    </div>
</body>
</html>
