﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="visionfilmizle.aspx.cs" Inherits="WebSiteBot.visionfilmizle" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div > <asp:Button ID="btn_Filmcek" runat="server" Text="Film Başlıklarını Çek" /></div>
   
    <div><asp:DropDownList ID="drp_filmbasliklar" runat="server"></asp:DropDownList></div>
    <div><asp:ListBox ID="lst_filmlinkler" runat="server"></asp:ListBox></div>
</asp:Content>
